:root {
  --bs-primary: #0075BE;
  --bs-primary-dark: #0A285F;
  --bs-secondary: #FFCC00;
  --bs-secondary-dark: #D5A100;
}

body {
    margin: 0;

    font-family: Roboto Regular, sans-serif;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-transform: capitalize;
    color: var(--bs-primary);
}
